

    <div class="text-center">
        <h1 class="text-danger">Access Denied</h1>
        <h6 class="text-danger">You Do Not Have Permission To View This Resource</h6>
        <img src="~/Images/noaccess.png" style="height:300px; width:300px" />
    </div>
